* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
}

h1, h2, h3 {
    color: white;
}

p {
    color: lightgreen;
    margin: 1% 0 2% 0;
}

#title {
    padding: 3%;
    background-image: url("./img/estrellas.jpg");
    background-position: 0 35%;
    background-repeat: no-repeat;
    background-size: cover;
}

#title h1 {
    text-align: center;
    color: white;
}

#nav {
    border: solid black 1px;
    background: #1b1b1b;
}

#nav ul {
    list-style: none;
    display: flex;
}

.lista {
    color: aqua;
    font-size: 120%;
    margin: 1% 3.5%;
    color: white;
    padding: 0.4%;
    width: 8%;
    background: #0d0d0d;
    border: solid black 1px;
    border-radius: 10px;
    text-align: center;
}

.lista a {
    text-decoration: none;
    color: white;
}

#especial {
    margin: 1.5% 0 0 15% !important;
    padding: 0 !important;
}

#especial input[type=text] {
    font-size: 120%;
    width: 60%;
    border: none;
}

#especial input[type=submit] {
    font-size: 120%;
    background: #0d0d0d;
    border: #0d0d0d 1px solid;
    color: white;
}

#principal {
    display: flex;
    background: #0d0d0d;
}

#contenido_principal {
    width: 75%;
}

#contenido_principal article {
    background: #1b1b1b;
    padding: 1%;
    margin: 1%;
    border: solid black 2px;
    border-radius: 10px;
}

img {
    display: block;
    margin: auto;
    width: 50%;
}

#lateral {
    width: 22%;
    margin: 1% auto;
}

#lateral div {
    background: #1b1b1b;
    padding: 5%;
    margin-bottom: 15%;
    border: solid black 2px;
    border-radius: 10px;
}

#lateral dt {
    margin: 1% 0 4% 2%;
    color: aqua;
}

#lateral dd {
    margin: 1% 0 4% 10%;
    color: lightgreen;
}

#final {
    background: black;
    color: white;
    padding: 1%;
    text-align: center;
    font-size: 120%;
}